body {
    font-family: 'Poppins', sans-serif;
    background-color: #CAF2FC;
    color: black;
    margin: 0;
}

header {
    text-align: center;
}

header .logo h1 {
    font-size: 60px;
    color: #0B73D4;
}

header .tagline {
    font-size: 20px;
    color: #0B44D4;
}

.info {
    text-align: center;
    font-size: 18px;
    padding: 10px;
}

.search {
    width: 40%;
    margin: auto;
    background-color: #E0F7FA;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 5px 10px 18px #888888;
}

.search h2 {
    text-align: center;
    padding: 5px 20px;
    color: #0B73D4;
}

.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form label {
    margin-bottom: 5px;
    font-size: 15px;
}

.form input,
.form select {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #CAF2FC;
    font-size: 15px;
}

button[type="submit"] {
    background-color: #0B73D4;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 10px;
    display: block;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    transition-duration: 0.3s;
    margin: 20px auto 0 auto;
}

button[type="submit"]:hover {
    background-color: #023E8A;
}

section.spotify,
section.upload-history,
section.back-home{
    margin: 50px auto;
    text-align: center;
    padding: 15px;
}

.button-link {
    display: inline-block;
    padding: 12px 25px;
    background-color: #0B73D4;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.button-link:hover {
    background-color: #023E8A;
}

hr {
    width: 40%;
    margin: 40px auto;
    border: none;
    border-top: 1px solid #90E0EF;
}

a {
     text-decoration: none;
}

.upload{
    width: 40%;
    margin: auto;
    background-color: #E0F7FA;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 5px 10px 18px #888888;
}

input[type="file"]::file-selector-button {
    background-color: #0B73D4;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    transition-duration: 0.3s;
    margin: 0 auto;
    margin-right: 25px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

input[type="file"]::file-selector-button:hover {
    background-color: #023E8A;
}

footer {
    text-align: center;
    padding: 3px;
    margin: 20px auto;
    font-size: 10px;
}

.file-input{
    display: block;
    margin: auto 150px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    border: 2px solid #e7e7e7;
    border-radius: 10px;
    padding: 5px;
    background-color: #E0F7FA;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.5);
}

.card img {
    border-radius: 5px 5px 0 0;
    width: 40%;
    object-fit: cover;
    display: block;
}

.card-content{
    margin: auto;
    font-size: 14px;
    line-height: 1.4;
}

.card .description {
    margin-top: 5px;
    font-size: 15px;
    text-align: justify;
}

